<div class="container" style = "margin-top: 30px">
    <h1> What is dream? </h1>
    <p style="color:white">
        Dream is any report of mental activity upon awakening from sleep.<br>
        It can includes experiences of images, sounds, ideas, thoughts, emotions, and other sensations. <br><br>
        
        Many people think that they dream in only REM stage of sleep. No! We have dreams even in NREM stage of sleep. <br><br>
        
    </p>
    <h2> What is lucid dreaming? </h2>
    <p style="color:white">
        Becoming aware that you are dreaming the act of dreaming itself. <br>
        During lucid dreaming in REM, fast electrical brainwave activity re-emerges over the prefrontal cortex, compared to non-lucid
REM sleep dreaming. <br>
        Lucid dream is proved by science. <br>
    </p>
    
    <%= image_tag "dream.jpeg" %>

</div>    