<div class="container" style= "margin-top: 30px">
    
    <h3> So, how do we improve our sleep? </h3>
    <p style="color:white";> Fortunately, there are numerous ways to improve your sleep. <br><br>
    
     Sleep Hygiene  <br>
    
   • Limiting daytime naps to 30 minutes. <br>
   • Napping does not make up for inadequate nighttime sleep. <br>
   • Avoiding stimulants such as  caffeine and nicotine close to bedtime. <br>
   • Exercising to promote good quality sleep. <br>
   • Ensuring adequate exposure to natural light. <br>
   • Establishing a regular relaxing bedtime routine. <br>
   
   source: <a href="https://sleepfoundation.org/sleep-topics/sleep-hygiene">link</a>
   
   <br><br>
   
    ASMR <br><br>
    
    ASMR, which stands for autonomous sensory meridian response, it describes a feeling of relaxation that can come over someone when he or she watches certain videos or hears certain sounds. For most people who do experience it, the blissful tingling starts up in the scalp and then makes its way through the body to the arms and legs. And as a result, it can trigger a feeling of relaxation before bedtime, which can help you overcome insomnia. 
    <br>
    source: <a href="https://sleep.org/articles/what-is-asmr">link</a> <br><br>
    ASMR videos <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/20XE6GM7xWo" frameborder="0" allowfullscreen></iframe>
   <br>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/RVpfHgC3ye0" frameborder="0" allowfullscreen></iframe>
   <br><br>
   
   Electronic Curfew <br><br>
   Blue light from your electronics stimulates your brain! <br>
   You need to turn on your electronics at least an hour before your bedtime. <br>
   Reading a book can be a good alternative. <br><br><br>
   
   How to get sleep faster? <br><br>
    <%= image_tag "fast.jpeg" %>
    source:<a href="http://girl5201.blog.me/220202209043">link</a> <br><br>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jisa5wy7UME" frameborder="0" allowfullscreen></iframe>
    <br>
 
</p>


</div>