<div class="container">
    
    <h2><font color="white">How does sleep affects our memory? </font></h2>
    
    <h5 style="color:red"> Aging and dimentia, sleep deprivation mostly occur together. What does it mean? worst sleep brings worst memory.</h3>
    <p style="color:white";>
        Sleep is essential for memory consolidation. <br><br>
        
        • For skill memories, sleep AFTER learning CONSOLIDATES and enhances memory.<br>
        • Sleep is absolutely necessary, and necessary within the first 24 hours after learning. If you learn something on this webpage and pull allnighter tonight, you will lose most of the precious information you could absorb.<br>
        • Sleep stabilizes declarative memory. How? Recently learned facts are re-processed during sleep, thereby consolidating them.<br>
        
        <br>
        Examples: <br>
        Andre Inguodala(NBA MVP) put himself in an experiment. His fours committed was decreased by 45% and his turnover was decreased by 37% when he did not sleep more than 8 hours.
        <br>
        
        <%= image_tag "brain.jpg" %>
        <br> <h4> Sleep controls brain!</h4>
       
        
       
        
    </p>
    
</div>