<div class="container" style= "margin-top: 30px">
    <h1> Truths and Myths </h1>
    <br>
  <h3>  Myth: You can sleep when you are dead. <br>
    <font color="#FA5858"> <u> Truth: You will die sooner if you live sleep-deprived.</u></font> <br> </h3>
   <p> Sleep appears to be present all species studied - Insects, Fish, Reptiles, Amphibians, Birds and Mammals. Even birds migrate have power naps.
    Sleep always find a way to occur. </p> <br><br>
    
    <br>
    <h3> Myth: 3 hours of sleep is enough. <br>
    <font color="#FA5858"><u> Truth: You will have a brain damage if you sleep only 3 hours a day. </u> </font> </h3>
    <p> Facts on memory ~ </p>  <br><br>
    
    <h3> Myth: Defined waking times are necessary for a functional living style. <br>
    <font color="#FA5858"> <u> Truth: In non-industrialized ancient cultures, sleep appears to be a social acitivity with no defined waking times. </u></font></h3>
    <br><br>
    
    <h3> Myth: Everyone uses alarm. There is no harm using an alarm clock to wake up. <br>
    <font color="#FA5858"><u> Truth: Using an alarm to wake up? You are giving yourself a heart attack to wake up. Snooze button is the worst. Snooze - Repeated Heart Attack(need verification)
    </u> </font>
    </h3>
    <br><br>
    
    <h3> Myth: If you are too tired, you don't dream <br>
    <font color="#FA5858"> <u> Truth: You dream every single night. dream(link) </u> </font>
    </h3>
    <br><br>

    <h3> Myth: It is better to wake up during REM sleep because it is lighter stage of sleep. <br>
    <font color="#FA5858"> <u> Truth: REM sleep is not necessarily lighter than NREM sleep. Waking up in different stages do not matter. </u> </font>
    </h3>
    <br><br>
    
    <h3> Myth: Older people need less sleep. God invented us in that way - they need to save some time to enjoy their life. <br>
    <font color="#FA5858"> <u> Truth: Older people need sleep as much as younger people. BUT, they cannot. Why? (link) </u></font></h3>
    <br><br>
    
</div>