<div class="container" style= "margin-top: 30px">
    <h1> Truths and Myths </h1>
    <br>
  <h3>  Myth: You can sleep when you are dead. <br>
    <font color="white"> <u> Truth: You will die sooner if you live sleep-deprived.</u></font> <br> </h3>
   <p> Sleep appears to be present all species studied - Insects, Fish, Reptiles, Amphibians, Birds and Mammals. Even birds migrate have power naps.
    Sleep always find a way to occur. </p> <br><br>
    
    <br>
    <h3> Myth: 3 hours of sleep is enough. <br>
    <font color="white"><u> Truth: You will have a brain damage if you sleep only 3 hours a day.</u> </font> <br>
    <a href="/memory" style="color:red">Want to know more about this?</a> </h3>
       <br><br>
    
    <h3> Myth: Defined waking times are necessary for a functional living style. <br>
    <font color="white"> <u> Truth: In non-industrialized ancient cultures, sleep appears to be a social acitivity with no defined waking times. </u></font></h3>
    <br><br>
    
    <h3> Myth: Everyone uses alarm. There is no harm using an alarm clock to wake up. <br>
    <font color="white"><u> Truth: Using an alarm to wake up? You are giving yourself a heart attack to wake up. Snooze button is the worst. Snooze - Repeated Heart Attack(need verification)
    </u> </font>
    </h3>
    <br><br>
    
    <h3> Myth: If you are too tired, you don't dream <br>
    <font color="white"> <u> Truth: You dream every single night.</u> </font> <br>
    <a href="/dream" style="color:red"> DREAM </a> 
    </h3>
    <br><br>

    <h3> Myth: It is better to wake up during REM sleep because it is a lighter stage of sleep. <br>
    <font color="white"> <u> Truth: REM sleep is not necessarily lighter than NREM sleep. Waking up in different stages of sleep do not matter. </u> </font>
    </h3>
    <br><br>
    
    <h3> Myth: Older people need less sleep. God invented us in that way - they need to save some time to enjoy their life. <br>
    <font color="white"> <u> Truth: Older people need sleep as much as younger people. BUT, they cannot. </u></font></h3>
    <br><br>
    
    <h3> Myth: Sleep cannot make us sick. <br>
    <font color="white"> <u> Truth: Sleep is linked to immunity. A study found that anti-body response was less than 50% in sleep deprivation group
    and even after a plenty of recovery sleep, a difference was remained. Shift work is defined as carcinogen by WHO because sleep deprivation can lead to cancer.
    Sleep also can make you overweight because sleep deprivation causes appetite hormone imbalance.</u></font></h3>
    <br><br>
    
     <h3> Myth: Lucid dreaming is a lie.<br>
    <font color="white"> <u> Truth: Wrong. Lucid dream is proved by science. </u></font></h3>
    <br><br>
</div>